

.Error {
    margin-top: 20px;
    text-align: center;
    .LargeTitle {
        margin: 30px;
        font-size: 200px;
        font-family: 'Inter';
        font-weight: 700;
        letter-spacing: 10%;
    }
    .MediumTitle {
        margin-top: 15px;
        font-size: 40px;
        font-family: 'Inter';
        font-weight: 500;
        letter-spacing: 7%;
    }
    .Text {
        margin-top: 10px;
        font-size: 30px;
        font-family: 'Inter';
        font-weight: 500;
        letter-spacing: 3%;
    }
    .Button {
        cursor: pointer;
        border: none;
        margin-top: 20px;
        font-size: 37px;
        font-family: 'Inter';
        font-weight: 700;
        letter-spacing: 2%;
        border-radius: 50px;
        background: #F0A04B;
        width: 576px;
        height: 99px;
    }
}