$header-text-color: #334155;
$header-secondary-color: #64748b;
$footer-secondary-text: #cbd5e1;
$footer-main-color: #f1f5f9;
$footer-background: #1e293b;
$footer-link-hover: #eef0f3;
$notfound-button: #f0a04b;
$notfound-button-hover: #f7a957;
$black-color: #000;
$white-color: #fff;
$red-color: #ff0000;
$login-color: #94a3b8;
$login-color-title: #0f172a;
$login-social-border: #b2b5c4;
$profile-grey-color: #e2e8f0;
$profile-aside: #f8fafc;
$profile-aside-button: #334155;
$profile-border: #ddd;
$light-blue: #3B82F6;
$sort-filter-bg: #EFF6FF;
$black-shadow: #0000001a;