$header-text-color: #334155;
$header-secondary-color: #64748b;
$footer-secondary-text: #CBD5E1;
$footer-main-color: #F1F5F9;
$black-color: #000;
$white-color: #fff;
$white-color-2: #E2E8F0;
$login-color: #94a3b8;
$login-color-title: #0f172a;
$profile-grey-color: #e2e8f0;
$red-color: #ff0000;
$font-size-14: 14px;
$font-size-24: 24px;
$font-family-main: 'Inter', sans-serif;
$primary-gap: 16px;
$primary-gap-2: 24px;
$primary-border-radius: 16px;
$primary-padding: 13px 24px 13px 24px;
$primary-normal-font-weight: 400;
$primary-medium-font-weight: 500;
$primary-semi-bold-font-weight: 600;
