$header-text-color: #334155;
$header-secondary-color: #64748b;
$footer-secondary-text: #CBD5E1;
$footer-main-color: #F1F5F9;
$black-color: #000;
$white-color: #fff;
$login-color: #94a3b8;
$login-color-title: #0f172a;