$header-text-color: #334155;
$header-secondary-color: #64748b;
$footer-secondary-text: #cbd5e1;
$footer-main-color: #f1f5f9;
$footer-background: #1e293b;
$footer-link-hover: #eef0f3;
$notfound-button: #f0a04b;
$notfound-button-hover: #f7a957;
$black-color: #000;
$white-color: #fff;
$white-color-2: #E2E8F0;
$red-color: #ff0000;
$login-color: #94a3b8;
$login-color-title: #0f172a;
$login-social-border: #b2b5c4;
$profile-grey-color: #e2e8f0;
$profile-aside: #f8fafc;
$profile-aside-button: #334155;
$profile-border: #ddd;
$button-border: #020617;
$green-discount: #16a34a;
$light-blue: #3B82F6;
$pagination-blue: #2563eb;
$dark-blue: #1d4ed8;
$sort-filter-bg: #EFF6FF;
$black-shadow: #0000001a;
$empty-star: #d1d5db;
$filled-star: #fbbf24;
$font-size-14: 14px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-family-main: 'Inter', sans-serif;
$primary-gap: 16px;
$primary-gap-2: 24px;
$primary-border-radius: 16px;
$primary-padding: 13px 24px 13px 24px;
$primary-normal-font-weight: 400;
$primary-medium-font-weight: 500;
$primary-semi-bold-font-weight: 600;
