@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;


.container {
    background: $profile-aside; // background: rgb(248, 250, 252);

    .mainTitle {
        color: $login-color-title; // color: rgb(15, 23, 42);
        font-size: 40px;
        font-weight: 700;
        line-height: 140%;
        max-width: 840px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 17;
        margin-top: 20px;
    }

    .paragraph {
        color: $header-text-color; // color: rgb(51, 65, 85);
        @include FooterText;
        line-height: 160%;
        max-width: 729px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 17;
        margin-top: 20px;
    }

    .containerStartHoursLectures{
        display: flex;
        justify-content: flex-start;
        color: $header-text-color; // color: rgb(51, 65, 85);
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        align-items: center;
        gap: 5px;
        max-height: 50px;
        margin-top: 24px;
    }

    .containerPhotoName{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        max-height: 50px;
        margin-top: 24px;
    }

    .containerWorldIconLanguages{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        max-height: 50px;
        margin-top: 24px;
    }
}
