@use '@/shared/styles/_variables.scss' as *;

/*Embla*/
.embla__container {
    scroll-snap-type: x mandatory;
    /**/
    display: flex !important;
    transition: transform 0.3s ease !important;
    will-change: transform;
    /**/
    width: 200%; 
}

// .embla__container {
//     display: flex !important;
//     transition: transform 0.3s ease !important;
//     will-change: transform;
//     /**/
//     width: calc(100% * 2);
// }

.embla__slide {
    scroll-snap-align: start;
    /**/
    flex: 0 0 100% !important;
    display: flex !important;
    gap: 20px;  
}

// .embla__slide {
//     flex: 0 0 100% !important;
//     display: flex !important;
//     justify-content: flex-start;
//     // flex-direction: row;
//     gap: 20px;
//     /**/
//     width: 100%;
// }

.embla {
    width: 100%;
    overflow: hidden;

    // .embla__container {
    //     display: flex;
    //     flex-direction: row;
    //     overflow: visible;
    // }

    // .embla__slide {
    //     display: flex !important;
    //     flex-direction: row !important;
    //     gap: 20px;
    //     transform: translateX(0) !important;
    //     /**/
    //     justify-content: space-between;
    // }
}


/*Quotes*/
.quotes_block {
    background: #F8FAFC;
    /**/
    width: 100%;

    .quotes_block_header {
        display: flex;
        justify-content: space-between;

        .quotes_block_header_title {
            font-size: $font-size-24;
            font-weight: $primary-semi-bold-font-weight;
            font-family: $font-family-main;
            width: 308px;
            margin: 80px 0px 24px 80px;
            line-height: 140%;
        }

        .quotes_block_header_buttons_block {
            display: flex;
            gap: $primary-gap-2;
            margin: 94px 72px 38px 0px;

            .quotes_navigation_block {
                border-radius: 8px;
                padding: 8px 16px 8px 16px;
                background: #94A3B8;
            }
        }
    }

    .quotes_block_quotes {
        display: block !important;
        // display: flex !important;
        gap: $primary-gap;
        margin: 0px 0px 64px 80px;
        /**/
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        /**/
        width: 100%;
        overflow: hidden;
        /**/
        position: relative;

        .quotes_block_quotes_item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            border: 1px solid $white-color-2;
            border-radius: $primary-border-radius;
            box-shadow: 0px 0px 8px 0px #3B82F61F;
            padding: 24px;
            width: 432px;

        .quotes_block_quote_text {
            font-family: $font-family-main;
            width: 384px;
            margin: 0;
            line-height: 160%;
        }

        .quotes_block_author {
            display: flex;
            gap: 8px;

            .quotes_block_author_photo {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
            
            .quotes_block_author_inside {
                display: flex;
                flex-direction: column;
                margin: 5px 0px 5px 0px;

                .quotes_block_author_name {
                    font-size: 18px;
                    font-weight: $primary-semi-bold-font-weight;
                    font-family: $font-family-main;
                    height: 29px;
                    margin: 0;
                    line-height: 160%;
                }
                
                .quotes_block_author_post {
                    font-size: $font-size-14;
                    font-family: $font-family-main;
                    margin: 0;
                    line-height: 150%;
                }
            }
        }
        }
    }
}
