
@use '@/shared/styles/_variables.scss' as *;

/*Banner block*/
.banner_block {
    display: flex;
    align-self: flex-start;
    height: 600px;

    .banner_block_inside_block_first {
        display: flex;
        flex-direction: column;
        gap: $primary-gap-2;
        margin-top: 168.5px;
        margin-left: 80px;

        .banner_block_text_block {
            display: flex;
            flex-direction: column;
            gap: $primary-gap;
        }
        
        .banner_block_title {
            font-size: 40px;
            font-weight: 700;
            font-family: $font-family-main;
            width: 483px;
            margin: 0;
        }
        
        .banner_block_description {
            font-family: $font-family-main;
            width: 592px;
            color: #334155;
            margin: 0;
            line-height: 160%;
        }
        
        .banner_block_button {
            font-size: $font-size-14;
            font-weight: $primary-medium-font-weight;
            font-family: $font-family-main;
            width: 238px;
            color: $white-color;
            background: #3B82F6;
            border-radius: 8px;
            padding: $primary-padding;
        }
    }
    
    .banner_image_first {
        position: absolute !important;
        top: 172.78px;
        left: 840.78px;
        width: 204.54px;
        height: 204.54px;
        /**/
        background: #F87171;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
    
    .banner_image_second {
        position: absolute !important;
        top: 74px;
        left: 1060px;
        width: 217.35px;
        height: 217.35px;
        /**/
        background: #60A5FA;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
    
    .banner_image_third {
        position: absolute !important;
        top: 330px;
        left: 1090px;
        width: 222px;
        height: 222px;
        /**/
        background: #FACC15;
        border-radius: 50%;
        object-fit: cover;
        transform: scale(-1, 1);
    }
    
    .first_mini_circle {
        position: absolute !important;
        top: 70px;
        left: 1026px;
    }
    
    .second_mini_circle {
        position: absolute !important;
        top: 200px;
        left: 785px;
    }
    
    .banner_image_ellipse_first {
        position: absolute !important;
        top: 282px;
        left: 824px;
    }
    
    .banner_image_ellipse_second {
        position: absolute !important;
        top: 55px;
        left: 1145px;
    }
    
    .banner_image_ellipse_third {
        position: absolute !important;
        top: 360px;
        left: 1183px;
    }
    
    .banner_center_circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background: #0F172A;
        border-radius: 50%;
        position: absolute !important;
        top: 300px;
        left: 1085px;

        .banner_center_circle_square {
            width: 19px;
            height: 19px;
            background: $white-color;
            transform: rotate(45deg);
            transform-origin: center;
        }
    }
    
    .students_community_banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 0px 4px 16px 0px #0000001F;
        background: $white-color;
        padding: 12px;
        position: absolute !important;
        top: 422px;
        left: 1000px;
        z-index: 20;

        .students_community_text {
            font-family: $font-family-main;
            font-size: 12px;
            font-weight: $primary-semi-bold-font-weight;
            color: #020617;
            width: 143px;
            margin: 10px 0px 0px 0px;
        }
    }
}
