@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 13px 80px;
    border-bottom: 1px solid #E2E8F0;

    .headerLogo {
        display: flex;
        align-items: center;

        .headerLogoIcon {
            width: 31px;
            height: 41px;
            cursor: pointer;
        }

        .headerLogoText {
            @include HeaderText;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .headerNavLink {
        @include HeaderText;
        font-size: 14px;
    }

    .headerSearch {
        border: 1px solid $header-text-color;
        border-radius: 8px;

        .headerSearchLabel {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 0px 10px 10px;
        }

        .headerSearchInput {
            color: $header-secondary-color;
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            border: none;
            outline: none;

            &::placeholder {
                @include HeaderText;
            }
        }
    }

    .headerTeach {
        @include HeaderText;
        font-size: 14px;

    }

    .headerActions {
        .headerIcons {
            display: flex;
            gap: 29px;
            align-items: center;

            .headerIconProfile {
                width: 40px;
                height: 40px;
                background-color: $header-secondary-color;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white-color;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                cursor: pointer;
            }

        }

        .headerAuth {
            display: flex;
            gap: 20px;
            align-items: center;

            .headerAuthLogin {
                background-color: $white-color;
                border: 1px solid $header-secondary-color;
                padding: 10px;
                color: #64748b;
                @include HeaderText;
                font-size: 14px;

                &:hover {
                    background-color: #f3f5f8;
                }

            }

            .headerAuthSignup {
                @include HeaderText;
                padding: 10px;
                background: $header-secondary-color;
                border: none;
                color: #ffffff;
                font-size: 14px;

                &:hover {
                    background-color: #7b8ca3;
                }
            }
        }

        .headerIcon {
            cursor: pointer;
        }
    }

}