
/*Page*/
.page {
    width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    /**/
    align-items: center;
}

/*Banner block*/
.banner_block {
    display: flex;
    align-self: flex-start;
    height: 600px;
}

.banner_block_inside_block_first {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 168.5px;
    margin-left: 80px;
}

.banner_block_text_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banner_block_title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    width: 483px;
    margin: 0;
}

.banner_block_description {
    font-family: 'Inter', sans-serif;
    width: 592px;
    color: #334155;
    margin: 0;
}

.banner_block_button {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    width: 238px;
    color: #FFF;
    background: #3B82F6;
    border-radius: 8px;
    padding: 13px 24px 13px 24px;
}

.banner_block_inside_block_second {
    // display: flex;
}

.banner_image_first {
    position: absolute;
    top: 272.78px;
    left: 840.78px;
}

.banner_image_second {
    position: absolute;
    // top: 84.56px;
    top: 134px;
    left: 1050px;
}

.banner_image_third {
    position: absolute;
    // top: 390px;
    top: 395px;
    // left: 1050px;
    left: 1070px;
}

.banner_center_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #0F172A;
    border-radius: 50%;
    /**/
    position: absolute;
    top: 360px;
    left: 1070px;
}

.banner_center_circle_square {
    width: 19px;
    height: 19px;
    background: #FFF;
    transform: rotate(45deg);
    transform-origin: center;
}

/*Statistic block*/
.statistic_block {
    display: flex;
    align-items: center;
    background: #F8FAFC;
    /**/
    width: 1440px;
}

.inside_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 85.5px;
    margin-right: 85.5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.numbers_section {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.description_section {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    width: 192px;
}

.vertical_line {
    border-left: 4px solid #E2E8F0;
    height: 55px;
}

/*Categories styles*/
.categories_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /**/
    width: 1280px;
}

.categories_control_block {
    display: flex;
    justify-content: space-between;
}

.categories_title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 7px 0px 7px 0px;
}

.all_categories_button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: #FFF;
    color: #3B82F6;
    padding: 10px 24px 10px 24px;
}

.categories_items_block {
    display: flex;
    justify-content: space-between;
}

.categories_item {
    border: 1px solid #E2E8F0;
    box-shadow: 0px 0px 8px 0px #3B82F61F;
    border-radius: 16px;
    padding: 24px 93px 24px 93px;
}

.categories_item_inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icon_circle_place {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #a4c4e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_item_title {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 0px 3px 0px 3px;
}

.category_item_count {
    font-family: 'Inter', sans-serif;
    color: #334155;
    margin: 0px 9px 0px 9px;
}

/*Courses styles*/
.courses_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /**/
    width: 1280px;
}

.courses_control_block {
    display: flex;
    justify-content: space-between;
}

.courses_title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 7px 0px 7px 0px;
}

.all_courses_button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: #FFF;
    color: #3B82F6;
    padding: 13px 24px 13px 24px;
}

.courses_items_block {
    display: flex;
    justify-content: space-between;
}

.courses_item {
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 0px #3B82F61F;
    padding: 16px;
}

.courses_item_inside {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.course_item_picture {
    border-radius: 8px;
}

.courses_item_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    margin: 0px 4px 0px 4px;
}

.courses_item_info_inside {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.courses_item_info_first_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

.courses_item_title {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    height: 29px;
    padding: 0;
    margin: 0;
}

.courses_item_author {
    font-family: 'Inter', sans-serif;
    color: #334155;
    padding: 0;
    margin: 0;
}

.courses_item_info_second_block {
    display: flex;
    align-items: center;
    gap: 8px;
}

.courses_item_rating {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 2.5px 0px 2.5px 0px;
}

.courses_item_hours {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #334155;
    height: 21px;
    padding: 0;
    margin: 0;
}

.courses_item_price {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    height: 30px;
    padding: 0;
    margin: 0;
}

/*Instructors styles*/
.instructors_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /**/
    width: 1280px;
}

.instructors_control_block {
    display: flex;
    justify-content: space-between;
}

.instructors_title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 7px 0px 7px 0px;
}

.all_instructors_button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: #FFF;
    color: #3B82F6;
    padding: 13px 24px 13px 24px;
}

.mentors_items_block {
    display: flex;
    justify-content: space-between;
}

.mentors_item {
    display: flex;
    flex-direction: column;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    padding: 16px;
}

.mentors_item_inside {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mentor_item_picture {
    border-radius: 8px;
}

.mentors_item_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mentors_item_info_first_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 19.5px 0px 19.5px;
}

.mentors_item_title {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    height: 29px;
    padding: 0;
    margin: 0;
}

.mentors_item_post {
    font-family: 'Inter', sans-serif;
    color: #334155;
    padding: 0;
    margin: 0;
}

.line {
    width: 100%;
}

.mentors_item_info_second_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mentors_item_rating_block {
    display: flex;
    align-items: center;
    gap: 4px;
}

.mentors_item_rating {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 2.5px 0px 2.5px 0px;
}

.mentors_item_students_count {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 2.5px 0px 2.5px 0px;
}

/*Quotes*/
.quotes_block {
    background: #F8FAFC;
}

.quotes_block_header {
    display: flex;
    justify-content: space-between;
}

.quotes_block_header_title {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    width: 308px;
    margin: 80px 0px 24px 80px;
}

.quotes_block_header_buttons_block {
    display: flex;
    gap: 24px;
    margin: 94px 72px 38px 0px;
}

.quotes_navigation_block {
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    background: #94A3B8;
}

.quotes_block_quotes {
    display: flex;
    gap: 16px;
    margin: 0px 0px 64px 80px;
}

.quotes_block_quotes_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 0px #3B82F61F;
    padding: 24px;
    width: 432px;
}

.quotes_block_quote_text {
    font-family: 'Inter', sans-serif;
    width: 384px;
    margin: 0;
}

.quotes_block_author {
    display: flex;
    gap: 8px;
}

.quotes_block_author_photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.quotes_block_author_inside {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 5px 0px;
}

.quotes_block_author_name {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    height: 29px;
    margin: 0;
}

.quotes_block_author_post {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/*Offer №1*/
.offers_block_wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.offers_block_wrapper_first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offers_block_first_image {
    width: 400px;
    height: 425px;
}

.offers_block_first_control {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 174px;
}

.offers_block_first_text_block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 549px;
}

.offers_block_title {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.offers_block_description {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.offers_block_first_button {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding: 13px 24px 13px 24px;
    width: 273px;
    color: #FFF;
    background: #020617;
}

/*Offer №2*/

.offers_block_wrapper_second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offers_block_second_control {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 140.5px;
}

.offers_block_second_text_block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 549px;
}

.offers_block_second_button {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding: 13px 24px 13px 24px;
    width: 202px;
    color: #FFF;
    background: #020617;
}
