
.page {
    width: 1440px;
}

.statistic_block {
    display: flex;
    background: #F8FAFC;
}

.inside_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 85.5px;
    margin-right: 85.5px;
}

.numbers_section {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.description_section {
    font-family: 'Inter', sans-serif;
}

.vertical_line {
    border-left: 4px solid #E2E8F0;
    height: 55px;
}
