
.page {
    width: 1440px;
}

.statistic_block {
    display: flex;
    align-items: center;
    background: #F8FAFC;
}

.inside_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 85.5px;
    margin-right: 85.5px;
}

.numbers_section {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.description_section {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    width: 192px;
}

.vertical_line {
    border-left: 4px solid #E2E8F0;
    height: 55px;
}

/*Categories styles*/
.categories_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.categories_control_block {
    display: flex;
    justify-content: space-between;
}

.categories_title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.all_categories_button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: #FFF;
    color: #3B82F6;
    padding: 13px 24px 13px 24px;
}

/*Courses styles*/
.courses_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.courses_control_block {
    display: flex;
    justify-content: space-between;
}

.courses_title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.all_courses_button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: #FFF;
    color: #3B82F6;
    padding: 13px 24px 13px 24px;
}
